#proy{
    background-image: url('https://img.freepik.com/foto-gratis/colegas-dando-golpe-puno_53876-64857.jpg?w=740&t=st=1673442991~exp=1673443591~hmac=91c0e46f09ab3b51a7364e60a64aabc0babfb22bfaed38e52266b3dbad7219a8');
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    box-shadow: 10px 10px 30px black;  
    
  }
  