<div class="conteiner-fluid bg-primary d-flex mb-0 text-light">
  <img
    src="//argentinaprograma.inti.gob.ar/pluginfile.php/1/theme_moove/logo/1668983675/Dise%C3%B1o%20sin%20t%C3%ADtulo%20%2817%29.png"
    alt="argpprod" id="logoInst" />

  <p class="mt-3 m-3 fs-4">#YoProgramo</p>

  <div class="mx-auto mt-3 fs-3">Curriculum Vitae</div>

  <button type="button" class="btn btn-light btn-sm m-3" *ngIf="isLogged">
    <a href="https://www.linkedin.com/in/adri%C3%A1n-r-chover-3b948724a/">
      <img src="https://cdn-icons-png.flaticon.com/512/61/61109.png" id="logoL" />
    </a>
  </button>
  <button type="button" class="btn btn-dark btn-sm m-3" *ngIf="isLogged" routerLink="/">
    <i class="fas fa-home"></i> Inicio
  </button>
  <button type="button" class="btn btn-warning btn-sm m-3" *ngIf="isLogged" routerLink="/portfolio">
    Portfolio
  </button>

  <button type="button" class="btn btn-dark btn-sm m-3" *ngIf="isLogged" (click)="onLogOut()">
    Cerrar sesión
  </button>

  <button type="button" class="btn btn-dark btn-sm m-3" *ngIf="!isLogged" routerLink="/login">
    Login
  </button>
</div>