#logoL{
    width: 30px;
    height: 30px;
    float: right;
      margin-top: 0.9em;
      margin-right: 0.2em;
  }
  
  #logoInst{
    width: 250px;
    height: 60px;
    float: right;
      margin-top: 0.9em;
      margin-right: 0.2em;
  }