<app-menu></app-menu>
<div class="container">
    <div class="row mt-5">
        <div class="col-md-4 mx-auto">
            <form (ngSubmit)="onCreate()" novalidate #f="ngForm">
                <div class="form-group">
                    <label for="institution">Institucion</label>
                    <input type="text" class="form-control" id="institution" name="institution"
                    [(ngModel)]="institution" required>
                </div>
                <div class="form-group">
                    <label for="degree">Titulo</label>
                    <input type="text" class="form-control" id="degree" name="degree"
                    [(ngModel)]="degree" required>
                </div>
                <div class="form-group">
                    <label for="entry">Desde</label>
                    <input type="text" class="form-control" id="entry" name="entry"
                    [(ngModel)]="entry">
                    
                </div>
                <div class="form-group">
                    <label for="discharge">Hasta</label>
                    <input type="texy" class="form-control" id="discharge" name="discharge"
                    [(ngModel)]="discharge">
                    
                </div>
                <div class="form-group">
                    <label for="urlInstitution">Url Institución</label>
                    <input type="texy" class="form-control" id="urlInstitution" name="urlInstitution"
                    [(ngModel)]="urlInstitution">
                    
                </div>
                <div class="form-group">
                    <label for="image">Imagen Institución</label>
                    <input type="texy" class="form-control" id="image" name="image"
                    [(ngModel)]="image">
                    
                </div>


                <button class="btn btn-outline-success btn-block" [disabled]="!f.valid">
                    <i class="fas fa-plus-circle"></i> Crear</button>
                <button class="btn btn-outline-primary btn-block" routerLink="/portfolio">
                    <i class="fas fa-arrow-alt-circle-left"></i> Volver</button>
            </form>
        </div>
    </div>
</div>

